@model DiziFilm.Project.Web.UI.Models.FilmIndexViewModel

@{
    Layout = "_Layout";
}


<section class="section details">

    <div class="details__bg" data-bg="img/home/home__bg.jpg"></div>

    <div class="container">
        <div class="row">
      
            <div class="col-12">
                <h1 class="details__title">@Model.Film.Name</h1>
            </div>
      
            <div class="col-12 col-xl-6">
                <div class="card card--details">
                    <div class="row">
                    
                        <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
                            <div class="card__cover">
                                <img src="https://pyxis.nymag.com/v1/imgs/dc7/31a/c3891f0eae8dae683732a60f8a9d7802dc-wachowskis.rsquare.w700.jpg" alt="">
                            </div>
                        </div>
               
                        <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
                            <div class="card__content">
                                <ul class="card__meta">
                                    <li>
                                        <span>Kategori : </span> @Model.Film.Category
                                    </li>
                                </ul>
                                <div class="card__description card__description--details">
                                    @Model.Film.Detail
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-6">
               <iframe width="560" height="315" src="@Model.Film.Fragman" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
        </div>
    </div>

</section>
